* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;
}

h1 {
    color: #07031a;
    font-size: 4rem;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: #07031a;
    font-size: 2rem;
    position: absolute;
}

.canvas {
    background-color: #07031a;
    border: 2px solid green;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.highscore {
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.score {
    color: #07031a;
    font-size: 3rem;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
}

.controls {
    display: none;
}

/* Responsiveness */

@media screen and (max-width: 750px) {

    h1 {
        font-size: 2.5rem;
        top: 3%;
    }

    .canvas {
        width: 85%;
    }

    .score {
        font-size: 2rem;
        top: 10%;
    }

    .highscore {
        font-size: 1rem;
        width: 90%;
        margin: 10px auto;
        bottom: 80%;
    }

    .controls {
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, 0%);
        display: inline-block;
        position: absolute;
        width: 18vh;
        height: 18vh;
    }

    .controls .btn {
        height: 31%;
        width: 31%;
        position: absolute;
        /* border: 2px solid black; */
    }

    .controls .up {
        top: 0%;
        left: 33%;
    }

    .controls .down {
        bottom: 0%;
        left: 33%;
    }

    .controls .left {
        top: 33%;
        left: 0%;
    }

    .controls .right {
        top: 33%;
        right: 0%;
    }

    .arrow {
        position: absolute;
        height: 60%;
        width: 60%;
        top: 10%;
        left: 10%;
        display: inline-block;
        border: solid #07031a;
        border-width: 0.5rem 0.5rem 0 0;
    }

    .up .arrow {
        transform: rotate(-45deg);
    }

    .down .arrow {
        transform: rotate(135deg);
    }

    .left .arrow {
        transform: rotate(-135deg);
    }

    .right .arrow {
        transform: rotate(45deg);
    }

}
